<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="./src/output.css" rel="stylesheet">
    <link rel="stylesheet" href="/src/fontawesome.css">
    <link rel="stylesheet" href="/src/toastify/toastify.css">
    <script src="/src/toastify/toastify.js"></script>
    
</head>
<body class="bg-white max-w-screen">

    <%- include('./links') %>
        <%- body %>
    <%- include('./footer') %>

<form
  id="login-form"
  class="login fixed inset-0 z-50 items-center justify-center bg-black/40 backdrop-blur-sm hidden"
>
  <div class="card bg-gray-200 border-2 border-gray-600 max-sm:w-[70%] md:w-full max-w-sm shrink-0 shadow-2xl">
    <div class="card-body">
      <fieldset class="fieldset text-gray-800">
        <p class="flex justify-end font-black text-xl w-full cursor-pointer" id="close-btn">&times;</p>
        <p class="flex m-auto font-bold text-lg">Login</p>
        <label class="label text-gray-800">Email</label>
        <input type="email" class="input bg-gray-100" placeholder="Email" name="email" required />
        <label class="label text-gray-800">Password</label>
        <input type="password" class="input bg-gray-100" placeholder="Password" name="password" required />
        <div class="flex justify-between">
            <a class="link link-hover">Lupa password?</a>
            <a class="link link-hover" id="registration-trigger">Belum Memiliki Akun?</a>
        </div>
        <button class="btn btn-primary mt-4 cursor-pointer w-full" type="submit">Login</button>
      </fieldset>
    </div>
  </div>
</form>

<form
  id="registration-form"
  class="registration fixed inset-0 z-50 items-center justify-center bg-black/40 backdrop-blur-sm hidden"
>
  <div class="card bg-gray-200 border-2 border-gray-600 max-sm:w-[70%] md:w-full max-w-sm shrink-0 shadow-2xl">
    <div class="card-body">
      <fieldset class="fieldset text-gray-800">
        <p class="flex justify-end font-black text-xl w-full cursor-pointer" id="close-btn2">&times;</p>
        <p class="flex m-auto font-bold text-lg">Daftar Akun</p>
        <label class="label text-gray-800">Nama</label>
        <input type="text" class="input bg-gray-100" placeholder="Nama Pengguna" name="name" required/>
        <label class="label text-gray-800">Email</label>
        <input type="email" class="input bg-gray-100" placeholder="Email" name="email" required/>
        <label class="label text-gray-800">Password</label>
        <input type="password" class="input bg-gray-100" placeholder="Password" name="password" required />
        <div class="flex justify-end">
            <a class="link link-hover" id="login-rdir">Sudah Memiliki Akun?</a>
        </div>
        <button type="submit" class="btn btn-primary mt-4 cursor-pointer w-full">Registrasi</button>
      </fieldset>
    </div>
  </div>
</form>

  <div id="logout-modal" class="fixed inset-0 z-50 hidden items-center justify-center bg-black/40 backdrop-blur-sm">
  <div class="bg-white text-gray-800 p-4 rounded shadow text-center">
    <p class="mb-4 font-bold">Konfirmasi Logout</p>
    <button id="confirm-logout" class="btn btn-active mr-2">Logout</button>
    <button id="cancel-logout" class="btn btn-warning">Batal</button>
  </div>
  </div>

  <form id="checkout-modal" class="fixed z-50 inset-0 hidden items-center justify-center p-3 bg-black/40 backdrop-blur-md" data-login="<%= user ? 'true' : 'false' %>">
    <div class="bg-white text-gray-800 rounded-md shadow text-center w-fit">
      <div class="font-bold text-xl bg-gray-800 flex justify-between items-center text-white p-2 rounded-t-md">
        <p class="m-auto text-center">Pesan Menu</p>
        <button class="px-1 cursor-pointer" id="close-checkout">&times;</button>
      </div>
      <div class="content p-3">
      <div class="flex gap-5 my-5">
        <img src="/src/pic/Gyudon2.jpg" alt="" class="gambar w-40 border border-gray-400 shadow-md rounded-xl">
        <div class="info flex flex-col gap-5 text-center justify-center w-[80%] font-bold">
          <p class="nama text-xl"></p>
          <input type="hidden" name="menuName" id="namaForm">
          <p>Harga: </p>
          <input type="hidden" name="hargaSatuan" id="unitPriceForm" value="0">
          <p class="harga font-normal"></p>
        </div>
      </div>
      <div class="deskripsi my-5">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, odit.
      </div>
      <div class="flex justify-end gap-3 items-center">
        <p class="font-bold">Jumlah: </p>
        <div class="amount">
          <button class="decrement size-10 bg-gray-800 text-white btn">-</button>
          <input type="number" name="jumlah" class="input jumlah w-10 bg-white border border-gray-800 no-spinner" value="1">
          <button class="increment size-10 bg-gray-800 text-white btn">+</button>
        </div>
      </div>        
      </div>
      <div class="font-bold text-xl p-3 flex justify-between items-center rounded-b-md">
        <div class="content flex gap-2 max-sm:text-sm">
          <p>Total: </p>
          <p id="totalPrice"></p>  
          <input type="hidden" name="totalHarga" id="totalPriceForm">
        </div>
        <button type="submit" class="btn btn-primary max-sm:p-2" id="checkoutNow">Pesan Sekarang!</button>
      </div>
    </div>
  </form>

    <form id="edit-modal" class="fixed z-50 inset-0 hidden items-center justify-center p-3 bg-black/40 backdrop-blur-md">
    <div class="bg-white text-gray-800 rounded-md shadow text-center w-fit">
      <div class="font-bold text-xl bg-gray-800 flex justify-between items-center text-white p-2 rounded-t-md">
        <p class="m-auto text-center">Pesan Menu</p>
        <button class="px-1 cursor-pointer" id="close-checkout-edit">&times;</button>
      </div>
      <div class="content p-3">
        <div class="info flex flex-col gap-5 text-center justify-center items-start px-5 font-bold">
          <p class="namaEdit text-xl"></p>
          <input type="hidden" name="menuNameEdit" id="namaFormEdit">
          <div class="flex gap-5">
            <p>Harga: </p>
            <p class="hargaEdit font-normal"></p>
          </div>
        </div>
      <div class="deskripsiEdit my-5 px-5">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, odit.
      </div>
      <div class="flex justify-end gap-3 items-center">
        <p class="font-bold">Jumlah: </p>
        <div class="amountEdit">
          <button class="decrementEdit size-10 bg-gray-800 text-white btn">-</button>
          <input type="number" name="jumlahEdit" class="input jumlahEdit w-10 bg-white border border-gray-800 no-spinner">
          <button class="incrementEdit size-10 bg-gray-800 text-white btn">+</button>
        </div>
      </div>        
      </div>
      <div class="font-bold text-xl p-3 flex justify-between items-center rounded-b-md">
        <div class="content flex gap-2 max-sm:text-sm">
          <p>Total: </p>
          <p id="totalPriceEdit"></p>  
          <input type="hidden" name="totalHargaEdit" id="totalPriceFormEdit">
        </div>
        <button type="submit" class="btn btn-primary max-sm:p-2" id="checkoutNowEdit">Simpan</button>
      </div>
    </div>
  </form>

  <div id="confirm-modal" class="fixed inset-0 z-50 hidden items-center justify-center bg-black/40 backdrop-blur-sm">
  <div class="bg-white text-gray-800 p-4 rounded shadow text-center">
    <p class="mb-4 font-bold">Konfirmasi Hapus</p>
    <button id="confirm-cancel" class="btn btn-active mr-2">Hapus</button>
    <button id="cancel-cancel" class="btn btn-warning">Batal</button>
  </div>
  </div>
    <script src="/src/scripts/index.js" type="module"></script>
    <script src="/src/aos/dist/aos.js"></script>
    <script>
    AOS.init({
      offset: 200,
      duration: 600,
      easing: 'ease-in-out',
      delay: 100,
    });
    </script>


</body>
</html>