<section class="hero min-h-screen w-full max-w-full overflow-x-hidden" style="background-image: url(/src/pic/resto.jpg);" id="hero-section">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl drop-shadow-xl  max-sm:text-3xl font-black" data-aos="fade">FelienZ Resto-App</h1>
      <p class="mb-5 font-medium max-sm:text-sm drop-shadow-xl" data-aos="fade">
        Selamat Datang di Website Kami. FelienZ Resto Adalah Restoran Jepang yang Menyajikan Berbagai Kuliner Khas Jepang di Kota Palembang</p>
      <button class="btn btn-primary cursor-pointer" data-aos="flip-left">Get Started</button>
    </div>
  </div>
</section>

<section class="main-menu flex flex-col justify-center items-center bg-gray-200 w-full min-h-screen">
  <div class="content m-auto">
  <div class="w-full py-5 px-2 m-auto max-sm:text-sm overflow-x-hidden">
    <p class="flex justify-center mb-5 m-auto font-black text-gray-800 text-xl" data-aos="fade">Daftar Menu</p>
    <div class="grid grid-cols-2  md:grid-cols-4 gap-3 max-w-screen-xl w-full m-auto content-center">
      <% if (menu.length < 1) { %>
          <p class="md:col-span-5 text-center text-gray-800 font-black">Menu Kosong!</p>
      <% } %>
      <% if (menu.length >= 1) { %>
      <% for(let index = 0; index < 4; index++) { %>
        <div class="card bg-white p-2 border pt-1 border-gray-300 overflow-x-hidden rounded-md h-fit text-xl sm:text-base justify-center text-black text-center flex items-center" data-aos="flip-right">
          <div class="flex items-center w-full gap-2 justify-center h-20 sm:text-sm">
            <img src="<%= menu[index].pic %>" alt="foto" class="w-30 max-sm:w-16 sm:w-16 rounded-md max-w-full">
            <div class="content flex flex-col items-center max-sm:text-sm">
              <p class="font-black"><%= menu[index].menuName %></p>
              <p><%= menu[index].price.toLocaleString('id-ID', {style: 'currency', currency:'IDR'}) %></p>
            </div>
          </div>      
          <button class="w-full mt-1 md:py-1 rounded-md bg-gray-800 text-white cursor-pointer">Pesan</button>
        </div>
      <% } %>
      <% } %>
      
    </div>
      <button class="btn m-auto mt-10 flex btn-primary text-white font-black cursor-pointer" data-aos="flip-left" ><a href="menu">Cek Selengkapnya</a></button>

  </div>


  <div class="container py-10 m-auto w-[90%]" id="highlight">
      <p class="flex justify-center mb-5 m-auto font-black text-gray-800 text-xl" data-aos="fade">Hightlight Menu</p>
    <div class="ads grid md:grid-cols-3 w-full justify-center m-auto gap-5 overflow-x-hidden">

      <div class="highlight md:col-span-2 grid p-5 items-end rounded-lg h-50 bg-cover bg-center text-white" data-aos="zoom-in" style="background-image: url('/src/pic/gyudon.jpg');">
          <div class="text-content border-2 border-warning rounded-md md:p-3 py-1 px-2">
          <p class="text-lg font-semibold text-warning bg-white opacity-70 w-fit rounded-md px-1">Gyudon</p>
          <p class="text-sm drop-shadow-xl  h-15 overflow-y-hidden">
            Gyudon adalah hidangan Jepang yang populer berupa semangkuk nasi (donburi) dengan daging sapi dan bawang bombay yang dimasak dalam saus manis gurih.
          </p>
          </div>
      </div>

      <div class="food grid p-5 items-end rounded-lg h-50 bg-cover bg-center text-white" data-aos="zoom-in" style="background-image: url('/src/pic/kaisendon.png');">
          <div class="text-content border-2 border-warning rounded-md p-3">
          <p class="text-lg font-semibold text-warning bg-white opacity-70 w-fit rounded-md px-1">Kaisendon</p>
          <p class="text-sm drop-shadow-xl h-15 overflow-y-hidden">Hidangan Jepang berupa semangkuk nasi (donburi) yang dihiasi berbagai makanan laut mentah (kaisen) segar.</p>
          </div>
      </div>
    </div>
  </div>
  </div>

</section>

<section class="testimonials bg-gray-100 w-full py-10 min-h-screen flex flex-col justify-center">
  <div class="content m-auto">
    <p class="flex font-black text-gray-800 text-xl justify-center" data-aos="fade">Testimonials Section</p>
    <% if (review.length < 1) { %>
     <p class="flex justify-center text-lg"> Belum Ada Penilaian! </p>
    <% } %>
    <% if (review.length >= 1) { %>
      <div class="grid grid-cols-2 mt-10 w-[80%] gap-5 h-fit items-center justify-center m-auto overflow-x-hidden">
        <% let index = 0; %>
     <% review.forEach(r => { %>
        <% if (index < 6) { %>
         <div class="card flex flex-col bg-gray-800 p-3 justify-between h-40 items-center text-white" data-aos="zoom-in">
          <div class="identity flex items-center justify-center gap-x-3" >
            <i class="fa-regular fa-user"></i>
            <p class="font-black text-lg text-center"><%= r.name %></p>
          </div>
          <div class="text-content flex flex-col items-start max-sm:h-20 max-sm:px-2 text-center max-sm:text-sm max-sm:overflow-y-hidden">
            <p>"<%= r.comment %>"</p>
          </div> 
          <div class="rating mt-1 mb-2">
            <% for( let index = 0; index < r.rating; index++ ) { %>
                <input type="radio" class="mask mask-star-2 bg-yellow-400" checked />
            <% } %>
            <% index++ %>
        <% } %>
          </div>
      </div>
     <% }) %>
    </div>
    <% } %>
    <button class="btn m-auto mt-10 flex btn-warning text-white font-black cursor-pointer" data-aos="flip-left"><a href="review">Ulas Kami!</a></button>

  </div>  
</section>

<section class="FAQs bg-gray-200 w-full overflow-x-hidden flex h-screen">
  <div class="content flex flex-col w-full m-auto overflow-x-hidden">
      <p class="flex font-black justify-center text-xl text-gray-800" data-aos="fade">FAQ Section</p>
    <div class="text w-[70%] m-auto flex flex-col mt-5 justify-center gap-4">
        <div class="collapse collapse-arrow bg-gray-800 border border-base-300" data-aos="fade-right">
        <input type="checkbox" name="my-accordion-2" />
        <div class="collapse-title font-semibold">Di Mana Lokasi FelienZ Resto?</div>
        <div class="collapse-content text-sm">FelienZ Resto Berlokasi di Kota Palembang, Sumatera Selatan</div>
      </div>
      <div class="collapse collapse-arrow bg-gray-800 border border-base-300" data-aos="fade-left">
        <input type="checkbox" name="my-accordion-2" />
        <div class="collapse-title font-semibold">Apa Menu Rekomendasi dari FelienZ Resto?</div>
        <div class="collapse-content text-sm">Hightlight menu kami saat ini dapat anda cek <a href="#highlight" class="underline">di sini</a></div>
      </div>
      <div class="collapse collapse-arrow bg-gray-800 border border-base-300" data-aos="fade-right">
        <input type="checkbox" name="my-accordion-2" />
        <div class="collapse-title font-semibold">Apakah Saya Bisa mendapatkan Potongan Harga?</div>
        <div class="collapse-content text-sm">Potongan Harga akan segera Hadir, nantikan terus ya!</div>
      </div>
      <div class="collapse collapse-arrow bg-gray-800 border border-base-300" data-aos="fade-left">
        <input type="checkbox" name="my-accordion-2" />
        <div class="collapse-title font-semibold">Apa Motto dari FelienZ Resto?</div>
        <div class="collapse-content text-sm">Kami Mengadopsi motto yang kerap digunakan bisnis lainnya, yaitu "Kepuasan Pelanggan Nomor Satu"</div>
      </div>
    </div>
  </div>
</section>
